#ajd {
    -fx-text-fill: #ff0000;
}

.scroll-pane {
    -fx-background: #e1f2ff;
    -fx-border-color: #000000;
    -fx-text-alignment: center;
    -fx-padding: 5px;
}

.root {
    -fx-background-color: #e6f0ff;
}

#opaque {
    -fx-background-color: white;
    /* -fx-opacity: 50%; */
}

.toggle-button {
    -fx-background-color: white;
    -fx-padding: 1.2em
}

.toggle-button:selected {
    -fx-background-color: gainsboro;
}
